@import url(https://fonts.googleapis.com/css?family=DM+Sans:regular,500,700&display=swap);

@charset "UTF-8";

:root {
  --light-colors-dark-gray-light: #707070;
  --light-colors-gray-light: #d8d8d8;
  --light-colors-light-gray-light: #efefef;
  --light-colors-black-light: #000;
  --light-colors-white-light: #fff;
  --light-colors-accent-light: #a18a68;
  --light-colors-errors-light: #d82700;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: var(--light-colors-dark-gray-light);
  line-height: 1;
  font-family: "DM Sans";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body input[type=search]::-webkit-search-decoration,
body input[type=search]::-webkit-search-cancel-button,
body input[type=search]::-webkit-search-results-button,
body input[type=search]::-webkit-search-results-decoration {
  display: none;
}

input,
button,
textarea {
  font-family: "DM Sans";
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 79.875rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg--contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

[class*=__box] {
  margin: 0 auto;
  max-width: 41.875rem;
  padding-top: 6.125rem;
  padding-bottom: 15.625rem;
}

[class*=__box--new-size] {
  margin: 0 auto;
  max-width: 31.25rem;
  padding-top: 6.125rem;
  padding-bottom: 15.625rem;
}

.products-card__wrapper {
  max-width: 23.5625rem;
}

.products-card__image-ibg {
  overflow: hidden;
  padding-bottom: 100%;
}

.products-card__info-wrapper {
  z-index: 2;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 1rem;
}

.products-card__title {
  color: var(--light-colors-black-light);
  font-weight: 400;
  line-height: 1.625rem;
}

.products-card__price {
  color: var(--light-colors-accent-light);
  font-weight: 500;
  line-height: 1.625rem;
  text-transform: capitalize;
}

.block-main-title__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 2.4375rem;
}

.block-main-title__wrapper:not(:last-child) {
  margin-bottom: 1.8125rem;
}

.block-main-title__title {
  color: var(--light-colors-black-light, #000);
  font-weight: 500;
  line-height: 130%;
}

.block-main-title__title:not(:last-child) {
  margin-bottom: 2.4375rem;
}

.block-main-title__title--center {
  text-align: center;
}

.block-main-title__description {
  color: var(--light-colors-black-light, #000);
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 130%;
}

.block-main-title__description:not(:last-child) {
  margin-bottom: 2.8125rem;
}

.block-main-title__description--center {
  text-align: center;
}

.block-main-title__text {
  color: var(--light-colors-black-light, #000);
  font-size: 1rem;
  font-weight: 400;
  line-height: 168%;
}

.block-main-title__text--center {
  text-align: center;
}

.block-subtitle__content-box:not(:last-child) {
  margin-bottom: 2.4375rem;
}

.block-subtitle__content-box:not(:last-child) {
  margin-bottom: 1.8125rem;
}

.block-subtitle__title {
  color: var(--light-colors-black-light, #000);
  font-weight: 400;
  line-height: 104%;
  /* 26/25 */
  text-transform: capitalize;
}

.block-subtitle__title:not(:last-child) {
  margin-bottom: 1.5rem;
}

.block-subtitle__description {
  color: var(--light-colors-black-light, #000);
  font-weight: 400;
  line-height: 168%;
}

.block-subtitle__description:not(:last-child) {
  margin-bottom: 2.4375rem;
}

.block-subtitle__description:not(:last-child) {
  margin-bottom: 1.8125rem;
}

.block-subtitle__description--fontsize-color {
  color: var(--light-colors-dark-gray-light);
  font-family: DM Sans;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 157%;
}

.block-subtitle__image-ibg {
  margin-bottom: 2.4375rem;
}

.block-subtitle__image-ibg:not(:last-child) {
  margin-bottom: 1.8125rem;
}

.block-subtitle__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 1rem;
  list-style-position: inside;
  -webkit-padding-start: 1.875rem;
          padding-inline-start: 1.875rem;
}

.block-subtitle__item {
  list-style: disc;
  color: var(--light-colors-black-light);
  font-weight: 400;
  line-height: 120%;
}

.button-submit {
  color: var(--light-colors-white-light);
  text-transform: uppercase;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 0.25rem;
  border: 1px solid var(--light-colors-white-light);
  background: var(--light-colors-black-light);
}

.form-login__input-style {
  border-radius: 0;
  color: var(--light-colors-dark-gray-light);
  font-weight: 400;
  line-height: 168%;
  padding: 0.75rem 0;
  border-bottom: 1px solid var(--light-colors-gray-light);
  outline: none;
}

.header__container {
  padding-top: 4.125rem;
  padding-bottom: 1rem;
}

.header-pc__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3.125rem;
}

.menu-pc__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 3rem;
     -moz-column-gap: 3rem;
          column-gap: 3rem;
}

.menu-pc__list span {
  position: relative;
  background: #707070;
  width: 1px;
  height: 17px;
}

.menu-pc__item {
  position: relative;
  z-index: 10;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  padding-bottom: 0.3125rem;
}

.menu-pc__link::before {
  content: "";
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: absolute;
  width: 0;
  height: 1px;
  bottom: 0;
  left: 0;
  background: var(--light-colors-dark-gray-light);
  border-radius: 0.625rem;
}

.menu-pc__item--parent:hover .item-parent__wrapper-body {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

.item-parent {
  position: relative;
}

.item-parent__wrapper-body {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-transition: opacity 0.3s ease, visibility 0.3s ease, -webkit-transform 0.3s ease;
  transition: opacity 0.3s ease, visibility 0.3s ease, -webkit-transform 0.3s ease;
  transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
  transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease, -webkit-transform 0.3s ease;
  position: absolute;
  width: 41.25rem;
  top: 1.4375rem;
  left: -15.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: var(--light-colors-white-light);
  padding-top: 1.25rem;
}

.item-parent__wrapper-submenu {
  padding-right: 3.4375rem;
  padding-left: 1.875rem;
  margin-top: 1.875rem;
  margin-bottom: 2.5rem;
}

.item-parent__wrapper-submenu:not(:last-child) {
  border-right: 1px solid #d8d8d8;
}

.item-parent__title {
  margin-bottom: 1rem;
  color: #000;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.375rem;
}

.item-parent__submenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 0.625rem;
}

.submenu__item {
  position: relative;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.375rem;
  padding-bottom: 0.25rem;
  color: var(--light-colors-dark-gray-light);
}

.submenu__link::before {
  content: "";
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: absolute;
  width: 0;
  height: 1px;
  bottom: 0;
  left: 0;
  background: var(--light-colors-dark-gray-light);
  border-radius: 0.625rem;
}

.header-mobile__menu-header {
  margin-bottom: 1rem;
}

.header-mobile__logo {
  position: relative;
  z-index: 10;
}

.header-mobile__search {
  position: relative;
}

.header-mobile__search span {
  position: absolute;
  top: 0;
  left: 0.625rem;
  -webkit-transform: translateY(25%);
      -ms-transform: translateY(25%);
          transform: translateY(25%);
}

.menu-mob__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1.25rem;
     -moz-column-gap: 1.25rem;
          column-gap: 1.25rem;
}

.menu-mob__card-icon {
  position: relative;
}

.menu-mob__card-value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  top: -20%;
  right: -30%;
  border: 1px solid #000;
  color: var(--light-colors-black-light);
  font-size: 0.625rem;
  font-weight: 400;
  letter-spacing: -0.14px;
}

.menu-mob__wrapper-list {
  z-index: 4;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 110px;
  left: -110%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.menu-mob__wrapper-list::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  top: -7.5rem;
  left: 0;
  height: 7.5rem;
}

.menu-open .menu-mob__wrapper-list {
  left: 0;
}

.menu-mob__list {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5rem;
  background-color: var(--light-colors-white-light);
}

.menu-mob__item-line {
  position: relative;
  width: 100%;
  height: 1px;
  background: #d8d8d8;
}

.menu-mob__item {
  color: var(--light-colors-black-light);
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.625rem;
}

.menu-mob__link span {
  padding-right: 0.625rem;
}

.search__input {
  padding-left: 2.5rem;
  height: 2rem;
  width: 100%;
  position: relative;
  border-radius: 4px;
  background: var(--light-colors-light-gray-light);
  color: var(--light-colors-dark-gray-light);
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.25rem;
}

.icon-menu {
  display: none;
}

.footer__container {
  padding-top: 2.5rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (50%)[2];
  grid-template-columns: repeat(2, 50%);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  row-gap: 3.125rem;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.footer__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  row-gap: 0.5rem;
}

.menu-footer__item {
  font-weight: 400;
  line-height: 1.6875rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.form__input {
  font-weight: 400;
  line-height: 1.6875rem;
}

.form__button img {
  position: relative;
  -webkit-transform: translateY(50%);
      -ms-transform: translateY(50%);
          transform: translateY(50%);
}

.form-wrapper-email {
  border-bottom: 1px solid #000;
  padding-bottom: 0.8125rem;
  margin-bottom: 0.625rem;
}

.social__content {
  position: relative;
  color: var(--light-colors-black-light, #000);
  font-weight: 500;
  line-height: 1.25rem;
}

.social__content::after {
  content: "";
  position: absolute;
  right: -100%;
  top: 50%;
  display: block;
  width: 2.9375rem;
  height: 1px;
  -webkit-transform: translateY(50%);
      -ms-transform: translateY(50%);
          transform: translateY(50%);
  background: #000;
}

.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1.875rem;
     -moz-column-gap: 1.875rem;
          column-gap: 1.875rem;
}

.privace-police__container {
  border-top: 1px solid #d8d8d8;
  border-bottom: 1px solid #d8d8d8;
}

.about__container {
  border-top: 1px solid #d8d8d8;
  border-bottom: 1px solid #d8d8d8;
}

.block-subtitle__image-ibg {
  padding-bottom: 44.776119%;
  /* 300/670 */
}

.block-subtitle__image-ibg img {
  vertical-align: top;
}

.account__box {
  margin: 0 auto;
}

.tabs__navigation {
  -webkit-column-gap: 0.3125rem;
     -moz-column-gap: 0.3125rem;
          column-gap: 0.3125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: var(--light-colors-light-gray-light);
}

.tabs__navigation button {
  -webkit-transition: background 0.4s;
  transition: background 0.4s;
}

.tabs__title-button {
  color: var(--light-colors-black-light);
  font-weight: 400;
  line-height: 130%;
}

.tabs__change-pass {
  color: var(--light-colors-black-light, #000);
  font-weight: 400;
  line-height: 168%;
}

._tab-active {
  background: var(--light-colors-white-light);
  -webkit-box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.1);
}

.form-login__form,
.form-register__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-login__wrapper-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.3125rem;
     -moz-column-gap: 0.3125rem;
          column-gap: 0.3125rem;
}

.form-login__input-checkbox {
  border-radius: 2px;
  border: 1px solid var(--light-colors-dark-gray-light);
}

.form-login__input-checkbox label {
  color: var(--light-colors-black-light);
  font-weight: 400;
  line-height: 168%;
}

.form-login__button {
  margin-bottom: 1rem;
}

@media (min-width: 47.99875em) {
  .header-mobile__wrapper {
    display: none;
  }

  .footer__form {
    -ms-grid-column-align: end;
        justify-self: end;
  }

  .menu-footer__list {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-column-gap: 2.5625rem;
       -moz-column-gap: 2.5625rem;
            column-gap: 2.5625rem;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .form__input {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 23.125rem;
            flex: 0 1 23.125rem;
  }

  .form__input-chek {
    display: none;
  }

  .form__input-label {
    display: none;
  }

  .form-wrapper-email {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 25rem;
            flex: 0 1 25rem;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .social__content {
    display: none;
  }

  .social__list {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

@media (min-width: 47.99875em) and (min-width: 79.875em) {
  .footer__form {
    width: 25rem;
  }
}

@media (min-width: 79.875em) {
  .products-card__image-ibg:not(:last-child) {
    margin-bottom: 1.5rem;
  }

  .products-card__title {
    font-size: 1.25rem;
  }

  .products-card__title {
    line-height: 1.5rem;
  }

  .products-card__price {
    font-size: 1.25rem;
  }

  .products-card__price {
    line-height: 1.5rem;
  }

  .block-main-title__title {
    font-size: 2.0625rem;
  }

  .block-subtitle__title {
    font-size: 1.625rem;
  }

  .button-submit {
    font-size: 1rem;
  }

  .button-submit {
    min-height: 3.3125rem;
  }

  .form-login__input-style:not(:last-child) {
    margin-bottom: 2rem;
  }

  .footer__container {
    padding-bottom: 5.625rem;
  }

  .menu-footer__item {
    font-size: 1rem;
  }

  .social__content {
    font-size: 1rem;
  }

  .account__box {
    max-width: 31.25rem;
  }

  .tabs__navigation {
    border-radius: 0.5rem;
  }

  .tabs__navigation {
    min-height: 3.75rem;
  }

  .tabs__navigation {
    margin-bottom: 7.875rem;
  }

  .tabs__title-button {
    padding-left: 5.5rem;
  }

  .tabs__title-button {
    padding-right: 5.5rem;
  }

  .tabs__title-button {
    padding-top: 0.75rem;
  }

  .tabs__title-button {
    padding-bottom: 0.75rem;
  }

  .tabs__title-button {
    font-size: 1.25rem;
  }

  .tabs__change-pass {
    font-size: 1rem;
  }

  ._tab-active {
    border-radius: 0.5rem;
  }

  .form-login__wrapper-checkbox:not(:last-child) {
    margin-bottom: 4.375rem;
  }

  .form-login__input-checkbox label {
    font-size: 1rem;
  }
}

@media (max-width: 20em) {
  .products-card__image-ibg:not(:last-child) {
    margin-bottom: 0.25rem;
  }

  .products-card__title {
    font-size: 0.875rem;
  }

  .products-card__title {
    line-height: 1.375rem;
  }

  .products-card__price {
    font-size: 0.75rem;
  }

  .products-card__price {
    line-height: 1.25rem;
  }

  .block-main-title__title {
    font-size: 1.625rem;
  }

  .block-subtitle__title {
    font-size: 1.375rem;
  }

  .button-submit {
    font-size: 0.75rem;
  }

  .button-submit {
    min-height: 2rem;
  }

  .form-login__input-style:not(:last-child) {
    margin-bottom: 1.375rem;
  }

  .footer__container {
    padding-bottom: 0.9375rem;
  }

  .menu-footer__item {
    font-size: 0.75rem;
  }

  .social__content {
    font-size: 0.75rem;
  }

  .account__box {
    max-width: 18rem;
  }

  .tabs__navigation {
    border-radius: 0.3125rem;
  }

  .tabs__navigation {
    min-height: 2.375rem;
  }

  .tabs__navigation {
    margin-bottom: 3.75rem;
  }

  .tabs__title-button {
    padding-left: 2.75rem;
  }

  .tabs__title-button {
    padding-right: 2.75rem;
  }

  .tabs__title-button {
    padding-top: 0.375rem;
  }

  .tabs__title-button {
    padding-bottom: 0.375rem;
  }

  .tabs__title-button {
    font-size: 0.875rem;
  }

  .tabs__change-pass {
    font-size: 0.75rem;
  }

  ._tab-active {
    border-radius: 0.3125rem;
  }

  .form-login__wrapper-checkbox:not(:last-child) {
    margin-bottom: 0.75rem;
  }

  .form-login__input-checkbox label {
    font-size: 0.75rem;
  }
}

@media (max-width: 47.99875em) {
  [class*=__box] {
    padding-top: 3.625rem;
    padding-bottom: 10.625rem;
  }

  [class*=__box--new-size] {
    padding-top: 3.625rem;
    padding-bottom: 10.625rem;
  }

  .products-card__info-wrapper {
    row-gap: 0.5rem;
  }

  .block-main-title__title:not(:last-child) {
    margin-bottom: 1.8125rem;
  }

  .block-main-title__description:not(:last-child) {
    margin-bottom: 1.875rem;
  }

  .button-submit {
    font-weight: 400;
  }

  .header__container {
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
  }

  .header-pc__wrapper {
    display: none;
  }

  .header-mobile__wrapper {
    position: relative;
  }

  .header-mobile__menu-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.25rem;
    height: 1.125rem;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: var(--light-colors-black-light);
    border-radius: 0.625rem;
  }

  .icon-menu::before {
    top: 0;
    width: 1.25rem;
  }

  .icon-menu::after {
    bottom: 0;
    width: 0.625rem;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu .menu-mob__wrapper-list {
    left: 0;
    opacity: 1;
    overflow: visible;
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before,
  .menu-open .icon-menu::after {
    width: 1.25rem;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .footer__container {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    row-gap: 1.875rem;
    padding-top: 1.25rem;
  }

  .footer__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }

  .footer__private-police {
    font-size: 0.75rem;
  }

  .footer__social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 3.5625rem;
       -moz-column-gap: 3.5625rem;
            column-gap: 3.5625rem;
  }

  .menu-footer__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .form__input {
    width: 100%;
  }

  .form__input-label {
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    color: #000;
  }

  .form-wrapper-email {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .social__link img {
    width: 1.125rem;
    height: 1.125rem;
  }
}

@media (max-width: 47.99875em) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}

@media (max-width: 29.99875em) {
  [class*=__box] {
    padding-top: 2.1875rem;
    padding-bottom: 5rem;
  }

  [class*=__box--new-size] {
    padding-top: 2.1875rem;
    padding-bottom: 5rem;
  }

  .products-card__info-wrapper {
    row-gap: 0.25rem;
  }
}

@media (min-width: 20em) and (max-width: 79.875em) {
@supports (margin-bottom: clamp( 0.25rem , -0.1675365344rem  +  2.0876826722vw , 1.5rem )) {
    .products-card__image-ibg:not(:last-child) {
      margin-bottom: clamp( 0.25rem , -0.1675365344rem  +  2.0876826722vw , 1.5rem );
    }
}

@supports not (margin-bottom: clamp( 0.25rem , -0.1675365344rem  +  2.0876826722vw , 1.5rem )) {
    .products-card__image-ibg:not(:last-child) {
      margin-bottom: calc(0.25rem + 1.25 * (100vw - 20rem) / 59.875);
    }
}

@supports (font-size: clamp( 0.875rem , 0.7497390397rem  +  0.6263048017vw , 1.25rem )) {
    .products-card__title {
      font-size: clamp( 0.875rem , 0.7497390397rem  +  0.6263048017vw , 1.25rem );
    }
}

@supports not (font-size: clamp( 0.875rem , 0.7497390397rem  +  0.6263048017vw , 1.25rem )) {
    .products-card__title {
      font-size: calc(0.875rem + 0.375 * (100vw - 20rem) / 59.875);
    }
}

@supports (line-height : clamp( 1.375rem , 1.3332463466rem  +  0.2087682672vw , 1.5rem )) {
    .products-card__title {
      line-height: clamp( 1.375rem , 1.3332463466rem  +  0.2087682672vw , 1.5rem );
    }
}

@supports not (line-height : clamp( 1.375rem , 1.3332463466rem  +  0.2087682672vw , 1.5rem )) {
    .products-card__title {
      line-height: calc(1.375rem + 0.125 * (100vw - 20rem) / 59.875);
    }
}

@supports (font-size: clamp( 0.75rem , 0.5829853862rem  +  0.8350730689vw , 1.25rem )) {
    .products-card__price {
      font-size: clamp( 0.75rem , 0.5829853862rem  +  0.8350730689vw , 1.25rem );
    }
}

@supports not (font-size: clamp( 0.75rem , 0.5829853862rem  +  0.8350730689vw , 1.25rem )) {
    .products-card__price {
      font-size: calc(0.75rem + 0.5 * (100vw - 20rem) / 59.875);
    }
}

@supports (line-height : clamp( 1.25rem , 1.1664926931rem  +  0.4175365344vw , 1.5rem )) {
    .products-card__price {
      line-height: clamp( 1.25rem , 1.1664926931rem  +  0.4175365344vw , 1.5rem );
    }
}

@supports not (line-height : clamp( 1.25rem , 1.1664926931rem  +  0.4175365344vw , 1.5rem )) {
    .products-card__price {
      line-height: calc(1.25rem + 0.25 * (100vw - 20rem) / 59.875);
    }
}

@supports (font-size: clamp( 1.625rem , 1.4788622129rem  +  0.7306889353vw , 2.0625rem )) {
    .block-main-title__title {
      font-size: clamp( 1.625rem , 1.4788622129rem  +  0.7306889353vw , 2.0625rem );
    }
}

@supports not (font-size: clamp( 1.625rem , 1.4788622129rem  +  0.7306889353vw , 2.0625rem )) {
    .block-main-title__title {
      font-size: calc(1.625rem + 0.4375 * (100vw - 20rem) / 59.875);
    }
}

@supports (font-size: clamp( 1.375rem , 1.2914926931rem  +  0.4175365344vw , 1.625rem )) {
    .block-subtitle__title {
      font-size: clamp( 1.375rem , 1.2914926931rem  +  0.4175365344vw , 1.625rem );
    }
}

@supports not (font-size: clamp( 1.375rem , 1.2914926931rem  +  0.4175365344vw , 1.625rem )) {
    .block-subtitle__title {
      font-size: calc(1.375rem + 0.25 * (100vw - 20rem) / 59.875);
    }
}

@supports (font-size: clamp( 0.75rem , 0.6664926931rem  +  0.4175365344vw , 1rem )) {
    .button-submit {
      font-size: clamp( 0.75rem , 0.6664926931rem  +  0.4175365344vw , 1rem );
    }
}

@supports not (font-size: clamp( 0.75rem , 0.6664926931rem  +  0.4175365344vw , 1rem )) {
    .button-submit {
      font-size: calc(0.75rem + 0.25 * (100vw - 20rem) / 59.875);
    }
}

@supports (min-height: clamp( 2rem , 1.5615866388rem  +  2.1920668058vw , 3.3125rem )) {
    .button-submit {
      min-height: clamp( 2rem , 1.5615866388rem  +  2.1920668058vw , 3.3125rem );
    }
}

@supports not (min-height: clamp( 2rem , 1.5615866388rem  +  2.1920668058vw , 3.3125rem )) {
    .button-submit {
      min-height: calc(2rem + 1.3125 * (100vw - 20rem) / 59.875);
    }
}

@supports (margin-bottom: clamp( 1.375rem , 1.1662317328rem  +  1.0438413361vw , 2rem )) {
    .form-login__input-style:not(:last-child) {
      margin-bottom: clamp( 1.375rem , 1.1662317328rem  +  1.0438413361vw , 2rem );
    }
}

@supports not (margin-bottom: clamp( 1.375rem , 1.1662317328rem  +  1.0438413361vw , 2rem )) {
    .form-login__input-style:not(:last-child) {
      margin-bottom: calc(1.375rem + 0.625 * (100vw - 20rem) / 59.875);
    }
}

@supports (padding-bottom: clamp( 0.9375rem , -0.6282620042rem  +  7.8288100209vw , 5.625rem )) {
    .footer__container {
      padding-bottom: clamp( 0.9375rem , -0.6282620042rem  +  7.8288100209vw , 5.625rem );
    }
}

@supports not (padding-bottom: clamp( 0.9375rem , -0.6282620042rem  +  7.8288100209vw , 5.625rem )) {
    .footer__container {
      padding-bottom: calc(0.9375rem + 4.6875 * (100vw - 20rem) / 59.875);
    }
}

@supports (font-size: clamp( 0.75rem , 0.6664926931rem  +  0.4175365344vw , 1rem )) {
    .menu-footer__item {
      font-size: clamp( 0.75rem , 0.6664926931rem  +  0.4175365344vw , 1rem );
    }
}

@supports not (font-size: clamp( 0.75rem , 0.6664926931rem  +  0.4175365344vw , 1rem )) {
    .menu-footer__item {
      font-size: calc(0.75rem + 0.25 * (100vw - 20rem) / 59.875);
    }
}

@supports (font-size: clamp( 0.75rem , 0.6664926931rem  +  0.4175365344vw , 1rem )) {
    .social__content {
      font-size: clamp( 0.75rem , 0.6664926931rem  +  0.4175365344vw , 1rem );
    }
}

@supports not (font-size: clamp( 0.75rem , 0.6664926931rem  +  0.4175365344vw , 1rem )) {
    .social__content {
      font-size: calc(0.75rem + 0.25 * (100vw - 20rem) / 59.875);
    }
}

@supports (max-width: clamp( 18rem , 13.5741127349rem  +  22.1294363257vw , 31.25rem )) {
    .account__box {
      max-width: clamp( 18rem , 13.5741127349rem  +  22.1294363257vw , 31.25rem );
    }
}

@supports not (max-width: clamp( 18rem , 13.5741127349rem  +  22.1294363257vw , 31.25rem )) {
    .account__box {
      max-width: calc(18rem + 13.25 * (100vw - 20rem) / 59.875);
    }
}

@supports (border-radius: clamp( 0.3125rem , 0.2498695198rem  +  0.3131524008vw , 0.5rem )) {
    .tabs__navigation {
      border-radius: clamp( 0.3125rem , 0.2498695198rem  +  0.3131524008vw , 0.5rem );
    }
}

@supports not (border-radius: clamp( 0.3125rem , 0.2498695198rem  +  0.3131524008vw , 0.5rem )) {
    .tabs__navigation {
      border-radius: calc(0.3125rem + 0.1875 * (100vw - 20rem) / 59.875);
    }
}

@supports (min-height: clamp( 2.375rem , 1.9157098121rem  +  2.2964509395vw , 3.75rem )) {
    .tabs__navigation {
      min-height: clamp( 2.375rem , 1.9157098121rem  +  2.2964509395vw , 3.75rem );
    }
}

@supports not (min-height: clamp( 2.375rem , 1.9157098121rem  +  2.2964509395vw , 3.75rem )) {
    .tabs__navigation {
      min-height: calc(2.375rem + 1.375 * (100vw - 20rem) / 59.875);
    }
}

@supports (margin-bottom: clamp( 3.75rem , 2.3721294363rem  +  6.8893528184vw , 7.875rem )) {
    .tabs__navigation {
      margin-bottom: clamp( 3.75rem , 2.3721294363rem  +  6.8893528184vw , 7.875rem );
    }
}

@supports not (margin-bottom: clamp( 3.75rem , 2.3721294363rem  +  6.8893528184vw , 7.875rem )) {
    .tabs__navigation {
      margin-bottom: calc(3.75rem + 4.125 * (100vw - 20rem) / 59.875);
    }
}

@supports (padding-left: clamp( 2.75rem , 1.8314196242rem  +  4.5929018789vw , 5.5rem )) {
    .tabs__title-button {
      padding-left: clamp( 2.75rem , 1.8314196242rem  +  4.5929018789vw , 5.5rem );
    }
}

@supports not (padding-left: clamp( 2.75rem , 1.8314196242rem  +  4.5929018789vw , 5.5rem )) {
    .tabs__title-button {
      padding-left: calc(2.75rem + 2.75 * (100vw - 20rem) / 59.875);
    }
}

@supports (padding-right: clamp( 2.75rem , 1.8314196242rem  +  4.5929018789vw , 5.5rem )) {
    .tabs__title-button {
      padding-right: clamp( 2.75rem , 1.8314196242rem  +  4.5929018789vw , 5.5rem );
    }
}

@supports not (padding-right: clamp( 2.75rem , 1.8314196242rem  +  4.5929018789vw , 5.5rem )) {
    .tabs__title-button {
      padding-right: calc(2.75rem + 2.75 * (100vw - 20rem) / 59.875);
    }
}

@supports (padding-top: clamp( 0.375rem , 0.2497390397rem  +  0.6263048017vw , 0.75rem )) {
    .tabs__title-button {
      padding-top: clamp( 0.375rem , 0.2497390397rem  +  0.6263048017vw , 0.75rem );
    }
}

@supports not (padding-top: clamp( 0.375rem , 0.2497390397rem  +  0.6263048017vw , 0.75rem )) {
    .tabs__title-button {
      padding-top: calc(0.375rem + 0.375 * (100vw - 20rem) / 59.875);
    }
}

@supports (padding-bottom: clamp( 0.375rem , 0.2497390397rem  +  0.6263048017vw , 0.75rem )) {
    .tabs__title-button {
      padding-bottom: clamp( 0.375rem , 0.2497390397rem  +  0.6263048017vw , 0.75rem );
    }
}

@supports not (padding-bottom: clamp( 0.375rem , 0.2497390397rem  +  0.6263048017vw , 0.75rem )) {
    .tabs__title-button {
      padding-bottom: calc(0.375rem + 0.375 * (100vw - 20rem) / 59.875);
    }
}

@supports (font-size: clamp( 0.875rem , 0.7497390397rem  +  0.6263048017vw , 1.25rem )) {
    .tabs__title-button {
      font-size: clamp( 0.875rem , 0.7497390397rem  +  0.6263048017vw , 1.25rem );
    }
}

@supports not (font-size: clamp( 0.875rem , 0.7497390397rem  +  0.6263048017vw , 1.25rem )) {
    .tabs__title-button {
      font-size: calc(0.875rem + 0.375 * (100vw - 20rem) / 59.875);
    }
}

@supports (font-size: clamp( 0.75rem , 0.6664926931rem  +  0.4175365344vw , 1rem )) {
    .tabs__change-pass {
      font-size: clamp( 0.75rem , 0.6664926931rem  +  0.4175365344vw , 1rem );
    }
}

@supports not (font-size: clamp( 0.75rem , 0.6664926931rem  +  0.4175365344vw , 1rem )) {
    .tabs__change-pass {
      font-size: calc(0.75rem + 0.25 * (100vw - 20rem) / 59.875);
    }
}

@supports (border-radius: clamp( 0.3125rem , 0.2498695198rem  +  0.3131524008vw , 0.5rem )) {
    ._tab-active {
      border-radius: clamp( 0.3125rem , 0.2498695198rem  +  0.3131524008vw , 0.5rem );
    }
}

@supports not (border-radius: clamp( 0.3125rem , 0.2498695198rem  +  0.3131524008vw , 0.5rem )) {
    ._tab-active {
      border-radius: calc(0.3125rem + 0.1875 * (100vw - 20rem) / 59.875);
    }
}

@supports (margin-bottom: clamp( 0.75rem , -0.4608559499rem  +  6.0542797495vw , 4.375rem )) {
    .form-login__wrapper-checkbox:not(:last-child) {
      margin-bottom: clamp( 0.75rem , -0.4608559499rem  +  6.0542797495vw , 4.375rem );
    }
}

@supports not (margin-bottom: clamp( 0.75rem , -0.4608559499rem  +  6.0542797495vw , 4.375rem )) {
    .form-login__wrapper-checkbox:not(:last-child) {
      margin-bottom: calc(0.75rem + 3.625 * (100vw - 20rem) / 59.875);
    }
}

@supports (font-size: clamp( 0.75rem , 0.6664926931rem  +  0.4175365344vw , 1rem )) {
    .form-login__input-checkbox label {
      font-size: clamp( 0.75rem , 0.6664926931rem  +  0.4175365344vw , 1rem );
    }
}

@supports not (font-size: clamp( 0.75rem , 0.6664926931rem  +  0.4175365344vw , 1rem )) {
    .form-login__input-checkbox label {
      font-size: calc(0.75rem + 0.25 * (100vw - 20rem) / 59.875);
    }
}
}

@media (min-width: 47.99875em) and (min-width: 20em) and (max-width: 79.875em) {
@supports (width: clamp( 15.625rem , 12.4934759916rem  +  15.6576200418vw , 25rem )) {
    .footer__form {
      width: clamp( 15.625rem , 12.4934759916rem  +  15.6576200418vw , 25rem );
    }
}

@supports not (width: clamp( 15.625rem , 12.4934759916rem  +  15.6576200418vw , 25rem )) {
    .footer__form {
      width: calc(15.625rem + 9.375 * (100vw - 20rem) / 59.875);
    }
}
}

@media (min-width: 47.99875em) and (max-width: 20em) {
  .footer__form {
    width: 15.625rem;
  }
}

@media (any-hover: hover) {
  .menu-pc__item:hover {
    color: #000;
  }

  .menu-pc__item:hover .menu-pc__link::before {
    content: "";
    width: 100%;
  }

  .submenu__item:hover {
    color: #000;
  }

  .submenu__item:hover .submenu__link::before {
    content: "";
    width: 100%;
  }

  .menu-footer__item:hover {
    color: #000;
  }
}